<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spBoard.spring_board_mybatis.filestorage.mapper.FileMapper">
    <insert id="insertFile" parameterType="FileDto" useGeneratedKeys="true" keyProperty="fileId">
        INSERT INTO file_tbl ( related_type, related_id, original_name, unique_name, file_path, file_type, file_size, file_order, created_at)
        VALUES ( #{relatedType}, #{relatedId}, #{originalName}, #{uniqueName}, #{filePath}, #{fileType}, #{fileSize}, #{fileOrder}, NOW())
    </insert>

</mapper>
