<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.melly.spring_board_mybatis.board.mapper.BoardTypeMapper">

    <select id="findAll" resultType="BoardType">
        SELECT *
        FROM board_type_tbl
    </select>

    <select id="findById" resultType="BoardType">
        SELECT *
        FROM board_type_tbl
        WHERE board_type_id = #{boardTypeId}
    </select>
</mapper>